@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

.main {
    float: left;
    position: relative;
    margin-top: 14%;
    margin-left: 17%;
    margin-right: 35%;
}
p{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lora', serif;
}

img {
    position: absolute;
    margin-left: -43%;
}

.appointment {
    padding: 20px;
    font-size: 20px;
    font-family: 'Lora', serif;
    font-weight: bold;
}

h1 {
    font-size: 55px;
    font-family: 'Lora', serif;
}